<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<integer>1</integer>
	<key>Extension Name</key>
	<string>Evernote Memo</string>
	<key>Extension Identifier</key>
	<string>com.mmj.extension.evernote-memo</string>
	<key>Extension Description</key>
	<string>Create memo note in Evernote using selected text</string>
	<key>Extension Image File</key>
	<string>memo.png</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>AppleScript File</key>
			<string>memo.applescript</string>
			<key>Image File</key>
			<string>memo.png</string>
			<key>Title</key>
			<string>Create Memo Note in Evernote</string>
			<key>Restore Pasteboard</key>
			<string>YES</string>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Option Identifier</key>
			<string>notebook</string>
			<key>Option Type</key>
			<string>string</string>
			<key>Option Label</key>
			<string>Save in Notebook</string>
		</dict>
	</array>
</dict>
</plist>
